$font-lg: 48px;
$font-sm: 24px;
$lightcolor: #359917;
$darkcolor: #126d12;
$pd: 18px 36px;

div{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

h1{
  font-size: $font-lg;
}

a {
    background-color: $lightcolor;
    color: white;
    font-size: $font-sm;
    padding: $pd;
    text-decoration: none;
    &:hover {
      background-color: $darkcolor;
    }
    &:active {
      background-color: $darkcolor;
    }
}