html,
body {
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: #fff;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -ms-overflow-style: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: #fff;
  background: #101010;
}

::selection {
  color: #fff;
  background: #101010;
}
